<template name="login">
	<div id="login-page">
<!-- 		<div class="preloader">
			<img src="images/logginPageLoader.GIF">
		</div> -->
		<div class="text-center loginlogo"><img src="images/logo-img-1.png" alt="Grownout" title="Grownout"></div>
		<div class="loginmodal-container login">
			<h1 style="#fff">Login to Your Account</h1><br>
		  <form>
				<input type="email" name="user" id="email" placeholder="Email">
				<input type="password" name="pass" id="pass" placeholder="Password">
				<button type="button" id="login" class="login loginmodal-submit">Login</button>
					<div class="preloader">
					<img src="images/logginPageLoader.GIF">
					</div>

			</form>

			<!-- <div class="login-help">
				<a href="#">Register</a> - <a href="#">Forgot Password</a>
			</div> -->
		</div>
	</div>
</template>