<template name="saas_type">
	<div class="modal fade saas_type" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog" style="width: 400px;">
			<div class="modal-content">
				<div class="modal-header">
					<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
					<h4 class="modal-title">Saas Type</h4>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<form>
							<div class="col-sm-6">
								<input type="radio" name="saas" class="saasCompany" value="saasCompany">Company
							</div>
							<div class="col-sm-6">
								<input type="radio" name="saas" class="saasConsultant" value="saasConsultant">Consultant
							</div>
						</form>
					</div>
				</div>
				<div class="modal-body">
					<form role="form" class="companyIdForm">
				 	 	<div class="form-group">
							<label for="email">Company Id:</label>
							<input type="text" class="form-control companyIdSaas">
						</div>
					</form>
				</div>
				<div class="modal-footer" id = "showButton">
					<button type="button" class="btn btn-default closeButton" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary saasType">Activate</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</template>