<template name="recruiterdetail_modal">
	<div class="modal fade recruiterdetail_modal">
		<div class="modal-dialog" style="width: 400px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Send Activation Mail</h4>
				</div>
				<div class="modal-body">
					<form role="form">
				 	 	<div class="form-group">
							<label for="email">Are you sure? you want to send the Activation Mail</label>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary populate">Send</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</template>