<template name="dashboard">

	<div id="wrapper">
		{{> navbar}}
		<div id="page-wrapper">
			<div class="container-fluid">
				<!-- Page Heading -->
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">
							Dashboard
						</h1>
					</div>
				</div>
				<!-- /.row -->
				<div class="row">
					<div class="col-sm-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Registration Status</h3>
							</div>
							<div class="panel-body">
								<div id="chart_div" style=" height:300px;"></div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Recruiters Activity</h3>
								</div>
								<div class="panel-body">
									<div id="piechart" style=" height:300px;"></div>
								</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="panel panel-green">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-3">
										<i class="fa fa-tasks fa-5x"></i>
									</div>
									<div class="col-xs-9 text-right">
										<div class="huge">{{companyCount}}</div>
										<div>Total Company</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-3">
										<i class="fa fa-comments fa-5x"></i>
									</div>
									<div class="col-xs-9 text-right">
										<div class="huge">{{regCount}}</div>
										<div>Total Registration</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="panel panel-green">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-3">
										<i class="fa fa-check-square-o fa-5x"></i>
									</div>
									<div class="col-xs-9 text-right">
										<div class="huge">{{activeJobsCount}}</div>
										<div>Active Jobs</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="panel panel-red">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-3">
										<i class="fa fa-list-alt fa-5x"></i>
									</div>
									<div class="col-xs-9 text-right">
										<div class="huge">{{jobCount}}</div>
										<div>Total Jobs</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /#page-wrapper -->
	</div>
</template>